**, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.4vw;
}
::-webkit-scrollbar-track {
  background-color: #191c26;
}
::-webkit-scrollbar-thumb {
  background-color: #a9afc3;
}*/
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #1616f2;
  color: #a9afc3;
}
input, button, textarea {
  color: inherit;
  border: none;
  outline: none;
  font-family: inherit;
}
button {
  cursor: pointer;
}
textarea {
  resize: vertical;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
img, svg {
  vertical-align: middle;
  user-select: none;
}
/*--====== Common Styles ======--*/
.overflow_hide {
  overflow: hidden;
}
.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
#header, #footer, .cart_head, .cart_foot {
  background-color: #191c26;
}
/*--====== Header Section ======--*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  font-size:25px;
  width: 100%;
  font-weight: 100;
   
   
}
.navbar {
  display: flex;
   
  justify-content: space-between;
  align-items: center;
}
.cart_icon {
  position: relative;
  cursor: pointer;
}
.cart_icon .badge {
  display: inline-block;
  background-color: darkred;
  color: #fff;
  line-height: 1;
  font-size: 0.8rem;
  padding: 0.35rem 0.55rem;
  border-radius: 50%;
}
/*--====== Home / Products Section ======--*/
#home {
  padding: 6rem 0 4rem;
}
.home_content {
  display: grid;
 grid-template-columns: repeat( auto-fit,minmax(260px, 1fr));
  gap: 1rem;
  text-align: center;
}
@media (max-width: 399px) {
  .home_content {
    grid-template-columns: 1fr;
  }
}
.product_card {
  border: 1px solid #a9afc3;
  padding-top: 1rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9), inset 10px 10px 60px rgba(0, 0, 0, 0.3), inset -10px -10px 60px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.product_card img {
  width: 60%;
  max-width: 200px;
}
.product_card .rating {
  color: sandybrown;
  font-size: 1rem;
  letter-spacing: 1.2px;
}
.product_card .title {
  font-size: 1.4rem;
  margin: 0.6rem 0;
}
.product_card .price {
  font-weight: bold;
}
.product_card .btn {
  background-color: #191c26;
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem 0;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.product_card .btn:hover {
  color: #eee;
}
.product_card .btn.added {
  color: green;
}
/*--====== Footer Section ======--*/
#footer {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.4rem 0;
}
#footer p {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0.8rem;
}
#footer p a {
  color: whitesmoke;
  opacity: 0.8;
}
#footer p a:hover {
  opacity: 1;
}
#footer .repo_link {
  opacity: 0.8;
}
#footer .repo_link:hover {
  opacity: 1;
}
/*--====== Cart Section ======--*/
#cart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 143, 97, 0.3);
}
.cart_content {
  background-color: #c80c89;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 600px;
  width: 100%;
  height: 100%;
}
.cart_head {
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.cart_head .close_btn {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: #becd15;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
.cart_head .close_btn:hover {
  opacity:2;
}
.cart_head .close_btn span {
  font-size: 2.2rem;
  line-height: 1;
}
.cart_body {
  padding: 1.8rem 1.5rem;
  max-height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
}
.cart_items {
    display: grid;
    align-items: center;
    gap: 2.2rem;
    margin-bottom: 1.5rem;
}
.cart_items_info .price {
     
        font-weight: 600;
        margin-top:0.5rem;
    }
    .cart_items_quantity {
        display: grid;
        align-items: center;
        flex-direction: column;
        gap: 0.8rem;
        background-color: primary-color;
        padding: 0.3rem 0;
    }
    
        span {
            font-size: 1.2rem;
            background-color: body-color;
            line-height: 0.5;
            padding: 0.4rem;
            user-select: none;
            cursor: pointer;
        }
    
            :hover {
                color: rgb(221, 221, 221);
            }
        
            /*--====== Footer Section ======--*/
#footer {
  text-align: center;
  padding: 1.4rem 0;
}

  p {
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 0.8rem;
  }

      a {
          color: #eee;
          opacity: 0.8;
      }
          :hover {
              opacity: 1;
          }
      
  

  .repo_link {
      opacity: 0.8;
  }
      :hover {
          opacity: 1;
      }
  
      /*--====== Cart Section ======--*/
#cart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 190, 190, 0.3);
}

.cart_content {
  background-color: secondary-color;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 600px;
  width: 100%;
  height: 100%;
}

.cart_head {
  padding: 1rem;
  text-align: center;
  box-shadow: head-shadow;
}

  .close_btn {
      position: absolute;
      top: 0;
      left: 0;
      background-color: secondary-color;
      padding: 0.4rem 0.6rem;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.2s ease;
  }
      :hover {
          opacity: 1;
      }

      span {
          font-size: 2.2rem;
          line-height: 0.8;
      }
      cart_body {
        padding: 1.8rem 1.5rem;
        max-height: 85%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .cart_items {
        display: grid;
        grid-template-columns: 0.5fr 0.7fr 0.2fr 0.1fr;
        align-items: center;
        gap: 2.2rem;
        margin-bottom: 1.5rem;
    }
    
    .cart_items_quantity {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.8rem;
      background-color:primary-color;
      padding: 0.3rem 0;
    }
      span {
          font-size: 1.2rem;
          background-color: body-color;
          line-height: 0.5;
          padding: 0.4rem;
          user-select: none;
          cursor: pointer;
      }
          :hover {
              color: #ddd;
          }
      
          .cart_items_delete {
            font-size: 2rem;
            line-height: 0.5;
            text-align: center;
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.2s ease;

          }
        
            :hover {
                opacity: 1;
            }
        
        
        .cart_foot {
           display:flex(space-between, center);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1rem;
            box-shadow:foot-shadow;
        }
            h3  b {
                    margin-left: 0.6rem;
                    font-size: 1.4rem;
                }
            
        
            .checkout_btn {
                background-color: text-color;
                color: #000;
                font-size: 1rem;
                padding: 0.4rem 0.8rem;
        
              
                }
            
        
  
    
